h1{
    color: blue; 
    background-color: aqua;
}
.dhyam{
    color: blue;
    background-color:yellow;
}
.bujji{
    color: black;
    background-color: grey;
}
#eswar{
    color:whitesmoke;
    background-color: black;
}
