H1{
    color: bisque;
    background-color: blueviolet;
}
.bujji{
    color: brown;
    background-color: darkmagenta;
}
.dhyam{
    color: green;
    background-color: indigo;
}
#ra{
    color: black;
    background-color: rgb(109, 14, 14);
}