
 body{
    background-color: pink;
    text-align: center;
    margin: 50px 50px;
    justify-content: center;
}
.Eswar{
    height: 600px;
    width: 600px;
    border-radius: 12%;
}
img{
    height: 400px;
    width: 400px;
    border-radius: 12%;
    
}
.ommo{
    font-size: 60px;
    font-style: italic; 
     color: rgb(201, 15, 46);
     text-align: justify;
}
.oppo{
    font-size: 70px;
    font-style: italic;
    color: rgb(201, 15, 46);
    text-align: justify;
}
.oyee{
color: black;
}
.ore{
    color: rgb(66, 3, 4);
}
.opo{
    color: red;
    font-size: 60px;
    color: transparent;
    background-image: linear-gradient(rgb(98, 30, 30), rgb(63, 48, 48),blue,rgb(96, 2, 2),rgb(232, 222, 232));
    background-clip: text;
}
}